{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": ["eslint-config-airbnb","eslint-config-prettier"],
	"overrides": [
		{
			"files":[
				"*.test.{js,jsx}",
				"*.spec.{js,jsx}",
				"__test__/**/*.{js,jsx}",
				"__mocks__/**/*.{js,jsx}"
			],
			"env":{
				"jest":true
			}
		},
		// For JS files where document, windows etc. is used
		{
			"files":["*.{js,jsx}"],
			"env": {
				"browser": true,
				"es2021": true
			}
		}
	],
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": ["eslint-plugin-prettier"],
	"rules": {
		"prettier/prettier": [
			"error",
			{"endOfLine":"auto"}
		],
		"no-console": 2, // Use some other logger
		// Match the prettier configs
		"semi": ["error", "never"],
		"indent": ["error", 2],
		"comma-dangle": ["error", "never"]
	}
}
